/* body {
    background-color: #000;
    color: #c9d1d9;
} */
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
.profile_avatar{
    max-width: 450px;
    min-width: 128px;
    width: 100%;
}
.link_image{
    width: 200px;
}